@media (min-width:760px){
  .bodyBackground{
    background: url("./img/bgWelcome.jpg") no-repeat center fixed;
    background-size: cover;
  }
  .mobile{
    display: none;
  }
  .container{
    width: 454px;
    height: 703px;
    left: 77%;
  }
  .questionPassword{
    margin-top: 36px;
  }
  #containerLogotype{
    margin-top: 29px;
    margin-left: 20px;
  }
  .containerRegister{
    width: 410px;
    height: 498px;
  }
  .txtAccount {
    padding-left: 76px;
  }
  .containerBackground{
    background: url("./img/bgRegistroDesktop.jpg") no-repeat center fixed;
    background-size: cover;
  }
  .questionAccount{
    text-align:center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #471F54;
  }
  #buttonReturnHome{
    color: #471F54;
    font-size: 18px;
  }
  .logotypeRegister{
    width: 301px;
    height: 156px;
    margin-top: 20px;
  }
}
